section.hero {

	.attached-to-page_Pagebuilder_Sections_Content_Block_Image {
		align-items: flex-start;
	}

	.hero-details-wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 300;
		display: flex;
		width: 100%;
		padding: 0;

		> .attached-to-page_Pagebuilder_Sections_Content_Block_Wysiwyg {
			width: 100%;
		}

		.wysiwyg-inject {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			min-height: 100%;
		}

		.news {
			display: flex;
			align-items: center;
			align-self: stretch;
			justify-content: flex-start;
			padding: 1em 2em;

			.v-center {
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}

			.aside {
				align-self: flex-start;
			}

			.content {
				align-self: flex-start;
				padding: .15em 0 .15em 1em;
			}
		}

		.info {
			flex: 0 0 33vw;
			display: flex;
			align-items: center;
			justify-content: stretch;
			padding: 1em 2em;

			.content {
				flex: 1 1 100%;
			}
		}
	}
}